<!-- <div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"> -->


<!-- <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="25px"
  style="padding: 25px;"> -->
<div class="p-16" fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%; font-size: initial;">
  <mat-card style="width:90%; padding: 0px; margin: auto;">
    <div class="p-16" fxLayout="column">
      <div class="p-16 accent">
        <div class="h3">Mobility Data Locations (normalised by the mean) - May 2020</div>
      </div>
      <div style="padding: 10px;">
        <button (click)='hidereds()' mat-raised-button>Highlight Antennas Below μ</button>
        <button style="margin:1em;" (click)='showreds()' mat-raised-button>Highlight Antennas Above μ</button>
        <button (click)='showall()' mat-raised-button>Highlight All Antennas</button>
        <label style="font-size: initial;
    font-style: italic;
    margin-left: 2em;"> Adjust Opacity : </label>

        <mat-slider thumbLabel [(ngModel)]="value" min="0.1" step="0.1" max="1" (change)="adjustOp()"></mat-slider>

      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div style="height: 1000px; width: 100%; margin: auto;" id="mapid"></div>
      </div>
    </div>
  </mat-card>

</div>
<!-- </div> -->
<!-- <div><button style="height: 40px;" (click)='hidereds()'>Highligt Antennas below 60%</button></div>
  <div><button style="height: 40px;" (click)='showreds()'>Highligt Antennas above 60%</button></div>
  <div><button style="height: 40px;" (click)='showall()'>Highligt All Antennas</button></div> -->
<!-- </div> -->