
        
        <div style="margin:auto" fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="center center">
            
  
          <div class="board-list-item" 
          routerLink="/expertmode"
          fxLayout="column" fxLayoutAlign="center center">
          <div style=" font-size:2em; color: white;">EXPERT MODE</div>
          <mat-icon class="s-56" style="color: ghostwhite;">open_in_browser</mat-icon>
          <div class="board-name">Experiment with your own code</div>
         <div style="color:white; padding: 2em;">   <p>
          Upload your own code (based on pre-defined code templates) and make full use of I-BiDaaS data processing pipeline
          </p>  </div>

     </div>
                    
     <div class="board-list-item" 
     routerLink="/selfservicemode"
     fxLayout="column" fxLayoutAlign="center center">
     <div style=" font-size:2em; color:  white;">SELF-SERVICE MODE</div>
     <mat-icon class="s-56" style="color: ghostwhite;">blur_on</mat-icon>

     <div class="board-name">Experiment with predefined algorithms</div>
    <div style="color:white; padding: 2em;">   <p>
      Select an algorithm from a pool of available algorithmic implementations and constract a Big Data processing pipeline
     </p>  </div>
</div>

<div class="board-list-item" 
          routerLink="/usecases"
          fxLayout="column" fxLayoutAlign="center center">
          <div style=" font-size:2em; color:white">CO-DEVELOP MODE</div>
          <mat-icon class="s-56" style="color:ghostwhite">business</mat-icon>

          <div class="board-name">Customised industrial use cases</div>
         <div style="color:white; padding: 2em;">   <p>
          Have a look at tailor-made end to end implementations of the I-BiDaaS pipeline for specific industrial use cases in the fields of Banking, Manufacturing and Telecommunications.          </p>  </div>
     </div>
                      



        

                      


    </div>
