
    <div  >
        <h2 mat-dialog-title> Lasso </h2> 
        <mat-dialog-content> <b>Description:</b> 
            <p>
                In statistics and machine learning, lasso (least absolute shrinkage and selection operator; also Lasso or LASSO) 
                is a regression analysis method that performs both variable selection and regularization in order to enhance 
                the prediction accuracy and interpretability of the statistical model it produces.
            </p>
            <b>Parameters:</b>

            <ul>
                <li>Constraint on the sum of the absolute values of the model parameters: &lambda;</li>
            </ul>

            <b>When to use: </b>
            <ul>
                <li>If you have labeled data</li>
                <li>If the output of the model is a number (regression)</li>
                <li>When your dataset is high-dimensional </li>
              </ul>
            
        </mat-dialog-content>
        <div mat-dialog-actions align="end">
            <button class="mat-raised-button" (click)="close()">Close</button>
          </div>
    </div>


   

   <!--  <div  >
       <button mat-button mat-dialog-close>&times; </button>
        <h2 mat-dialog-title>k means </h2> 
        <mat-dialog-content> <b>Description:</b> 
            <p>
               Lasso boy 
            </p>
        </mat-dialog-content>
    </div>
    <div  >
        <h2 mat-dialog-title> kkk </h2> 
        <mat-dialog-content> <b>Description:</b> 
            <p>
               Lasso boy 
            </p>
        </mat-dialog-content>
    </div>  --> 



