@import "../ibidaas.scss";

.nvtooltip.xy-tooltip{
    background-color: white;
    z-index: 999;
}

.dashboard-section{
    margin-bottom: 15px;
}

.disabled{
    pointer-events: none;
}

mat-card-header.expert-mode-card-header.mat-card-header {
    min-height: 100px;
}

mat-card-header.self-service-card-header.mat-card-header {
    height: 100%;
}

mat-card-header.self-service-card-header1.mat-card-header {
    height: 100%;
    color: #ccc;
}


mat-card-header.ibidaas-use-case-card-header.mat-card-header {
    min-height: 100px;
}

mat-card-content.expert-mode-card-content.mat-card-content {
    min-height: 77px;
    text-align: justify;
}

mat-card-content.self-service-card-content.mat-card-content {
    min-height: 180px;
    text-align: justify;
}


mat-card-content.self-service-card-content1.mat-card-content {
    min-height: 180px;
    color: #ccc;
    text-align: justify;
}

mat-card-content.ibidaas-use-case-card-content.mat-card-content {
    min-height: 125px;
    text-align: justify;
}

.dis-card .mat-card-image{
    opacity:0.4;
}

.my-fab {
    width: 35px;
    height: 35px;
    font-size: 16px;
    position: absolute;
    right:10px;
    bottom: 45px;
}

.create-new img.mat-card-image {
    max-width: 270px !important;
    margin: 0 auto;
    padding: 50px;
}
.create-new mat-card{
    border: 2px dashed #333;
    box-shadow: none;
}

.create-new .mat-card-header .mat-card-title{
    margin: 0 auto !important;
}

.rmv-cutom-project{
    position: absolute;
    right: -6px;
    top: -10px;
    background-color: red;
    border-radius: 20px;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    cursor: pointer;

    i{
        color: white;
        font-size: 20px;
        cursor: pointer !important;
    }
}


/* mat-card-content.self-service-card-content.mat-card-content {
    min-height: 115px;
}

mat-card-header.self-service-card-header.mat-card-header {
    min-height: 70px;
}



*/